
.chat-success-vs-target {

    .roll-outcome {
        text-align: center;
    }

    .rolled-number {
        text-align: center;        

        label {
            font-size: x-large;
        }

        .success span {
            color: var($c-success);
        }

        .fail span {
            color: var($c-fail);
        }
    }
}