
.chat-success-vs-target {

    .roll-container {       
        border-bottom: 1px solid #888; 
        padding-bottom: 3px;
        text-align: center;       

        .target-number {
            text-align: center;       
            border-right: 1px solid #888;

            .target-number-label {

            }

            .target-number-value {
                font-size: x-large;                
            }
        }


        .rolled-number {
            text-align: center;        

            .rolled-number-label {
                
            }

            .rolled-number-value {
                font-size: x-large;
            }

            .rolled-number-value.success {
                color: $c-success;
            }

            .rolled-number-value.fail {
                color: $c-fail;
            }
        }

    }

    .roll-outcome {
        text-align: center;
        font-size: large;

        .roll-outcome-success {
            color: $c-success;
        }

        .roll-outcome-fail {
            color: $c-fail;
        }
    }
}

.chat-actor-container {
    .chat-select-link img{
        border: none;        
        width:30px; 
        height:30px;
        max-width: none;
    }

    .chat-actor-name {
        font-weight: bold;    
        margin-left: 5px;        
    }
}

.uf-damage-container {
    .uf-damage-component {
        border: 1px solid #888;
        border-radius: 5px;
        font-size: small;
    }
}