<div class="form-group uf-actor-fatepoints-container uf-sheet-segment-container">
  <label>Fate Points</label>
  <div class="uf-actor-fatepoints-fields">
    <span class="uf-fp-label">Current:</span>
    <span class="uf-fp-value">{{system.fatePoints.currentFP}}</span>
    <span class="uf-fp-label">Spent:</span>
    <span class="uf-fp-value">{{system.fatePoints.spentFP}}</span>
    <span class="uf-fp-label">Earned:</span>
    <span class="uf-fp-value">{{system.fatePoints.earnedFP}}</span>
  </div>
</div>
