{{!-- templates/chat/chat-weapon.hbs --}}
<div class="flexrow chat-weapon-header">
  <img class="flex0" src="{{weapon.img}}" alt="{{weapon.name}}" style="width:15px; height:15px; border-radius:4px;">
  <div class="flexcol">
    <span class="chat-weapon-name" name="weaponName">{{weapon.name}}</span><br>
    <span class="chat-weapon-type" name="weaponType">{{weapon.system.weaponType}}</span>
  </div>
</div>
