<div class="flexrow">
    <img class="flex0" src='{{actor.img}}' alt="{{actor.name}}" data-actorType="{{actorType}}"  style="width:30px; height:30px; border: none;">
    <h4>{{actor.name}}</h4>    
</div>
