<div class="uf-damage-container">
  <div class="flexrow uf-damage-component-list">
    {{#each damage.components}}
      <span class="flex0 uf-damage-component" title="{{label}}"> 
        {{formula}}{{#if type}} <em>{{type}}</em>{{/if}}
      </span>
    {{/each}}
  </div>
  <div class="flexrow uf-damage-result-row">
    <span class="uf-damage-result-label">Total:</span>
    <span class="uf-damage-result-value">{{damage.getTotal}}</span>
  </div>
</div>
