{{!-- templates/chat/chat-weapon.hbs --}}
<div class="flexrow chat-weapon">
  <img class="flex0" src="{{weapon.img}}" alt="{{weapon.name}}" style="width:20px; height:20px; border-radius:3px; align-items: center; justify-content: center;">
  <div class="flexcol" style="margin-left: 5px;">
    <span class="chat-weapon-name" name="weaponName">{{weapon.name}}</span>
    <span class="chat-weapon-type" name="weaponType">{{weapon.system.weaponType}}</span>
  </div>
</div>
