<form>
  <div class="form-group">
    <label for="skill-label">Skill</label>
    <input type="text" id="skill-label" name="skill-label" value="{{skillLabel}}" disabled />
  </div>
  <div class="form-group">
    <label for="skill-rating">Rating</label>
    <input type="number" id="skill-rating" name="rating" value="{{skill.rating}}" />
  </div>
  <div class="form-group">
    <label for="skill-specialisation">Specialisation</label>
    <input type="text" id="skill-specialisation" name="specialisation" value="{{skill.specialisation}}" />
  </div>
</form>
